.body {
  background-color: rgba(17, 105, 9, 0.808);
}
.card {
  width: 12rem;
  aspect-ratio: 3/4;
  margin-top: 2rem;
}
.symbolUp {
  margin-bottom: 100%;
}
.number {
}
.symbolDown {
  margin-top: 100%;
  transform: rotate(180deg);
}
.boton {
  margin-top: 2%;
}
