@import "~bootstrap/dist/css/bootstrap.min.css";

.body {
  background-color: green;
}
.card {
  width: 10rem;
  aspect-ratio: 3/4;
  margin-top: 2rem;
}
.symbolUp {
  margin-bottom: 100%;
  text-shado: ;
}
.number {
  margin-block: 50%;
}
.symbolDown {
  margin-top: 100%;
}
